* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #f1f2f5;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20vh;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 28vw;
  box-shadow: 0 2px 8px rgb(0 0 0 / 18%);
}

main > * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 4.5%;
  height: 55px;
}

.list-title h5 {
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 44px;
  letter-spacing: 2px;
  color: #545454;
}

.list-title .refresh {
  background-image: url('./images/refresh.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.desc {
  text-align: left;
  width: 85%;
  line-height: 23px;
  color: gray;
}

li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  align-content: center;
  font-size: 1rem;
  font-weight: 300;
  padding: 3% 4%;
  height: 55px;
}

li img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input::placeholder {
  font-style: italic;
  font-size: 1rem;
  font-weight: 100;
  opacity: 0.6;
}

input {
  border: none;
  padding: 4%;
  height: 50px;
}

.to-do {
  width: 90%;
  font-size: 1rem;
  color: gray;
  font-style: italic;
  letter-spacing: 1px;
}

.arrow {
  background-image: url('./images/enter\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  margin-right: 5%;
  margin-top: 3%;
  cursor: pointer;
}

.to-do:focus {
  outline: none;
}

.list-title,
.add-item {
  width: 100%;
}

.clear {
  border: none;
  background-color: #d4d4d4;
  opacity: 0.5;
  padding: 4% 0;
  text-align: center;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
